<html>
  <head>
    <title>Personal Library</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <header id="pageHeader">
      <h1>Personal Library</h1>
    </header>
    <br />
    <div id="sampleposting">
      <form action="/api/books" method="post" class="border">
        <h4 class="formHeader">Create Book</h4>
        <div class="formLabels">
          <label for="title">Book Title</label>
          <input
            class="inputLabel"
            type="text"
            id="title"
            name="title"
            value=""
          /><br />
        </div>
        <input class="submitBtn" type="submit" value="Submit" />
      </form>
      <form action="" method="post" id="commentTest" class="border">
        <h4 class="formHeader">Add Book Comment</h4>
        <div class="formLabels">
          <label for="idinputtest">BookId</label>
          <input
            class="inputLabel"
            type="text"
            name="id"
            value=""
            id="idinputtest"
          /><br />
          <label for="comment">Comment</label>
          <input
            class="inputLabel"
            type="text"
            id="comment"
            name="comment"
            value=""
          /><br />
        </div>
        <input class="submitBtn" type="submit" value="Submit" />
      </form>
    </div>
    <hr />
    <div id="sampleui">
      <h2 id="sampleuiHeader">Sample Front-End</h2>
      <form id="newBookForm">
        <label for="bookTitleToAdd" class="formHeader">New Book Title</label>
        <hr style="width: 105px" />
        <input
          class="inputLabel"
          type="text"
          id="bookTitleToAdd"
          name="title"
          placeholder="Moby Dick"
        />
        <hr style="width: 105px" />
        <button class="uiBtn" type="submit" value="Submit" id="newBook">
          Submit New Book!
        </button>
      </form>
      <div id="display"></div>
      <div id="bookDetail" class="border">
        <p id="detailTitle">Select a book to see it's details and comments</p>
        <ol id="detailComments"></ol>
      </div>
      <button id="deleteAllBooks" class="uiBtn">Delete all books...</button>
    </div>
    <hr />
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script src="/public/client.js"></script>
    <script>
      /*
       *  For #sampleposting to update form action url to test inputs book id
       */
      $(function () {
        $("#commentTest").submit(function () {
          let id = $("#idinputtest").val();
          $(this).attr("action", "/api/books/" + id);
        });
      });
    </script>
  </body>
</html>
